<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/Strawberry_Cream_Roll.png" alt="smoothie recipe icon">
    <h4>Strawberry Cream Roll</h4>
    <p>chilled cream, strawberries, unflavored gelatin, vanilla extract</p>
  </li>
  <li class="recipe">
    <img src="/Fruit_Galore_Sponge_Cake.png" alt="smoothie recipe icon">
    <h4>Fruit Galore Sponge Cake</h4>
    <p>vanilla flavored syrup, sponge cake, blueberries, strawberries</p>
  </li>
  <li class="recipe">
    <img src="/Angel_Food_Cake.png" alt="smoothie recipe icon">
    <h4>Angel Food Cake</h4>
    <p>cream of tartar, vanilla extract, lemon extract, sifted cake flour, strawberries</p>
  </li>
  <li class="recipe">
    <img src="/Chiffon_Cake.png" alt="smoothie recipe icon">
    <h4>Chiffon Cake</h4>
    <p>vegetable oil, lemon zest, lemon pie filling, cream of tartar</p>
  </li>
  <li class="recipe">
    <img src="/White_Chocolate_Raspberry_Cheesecake.png" alt="smoothie recipe icon">
    <h4>White Chocolate Raspberry Cheesecake</h4>
    <p>chocolate chips, cream cheese, vanilla extract, raspberries</p>
  </li>
  <li class="recipe">
    <img src="/Strawberry_Chocolate_Mousse_Cake.png" alt="smoothie recipe icon">
    <h4>Strawberry Chocolate Mousse Cake</h4>
    <p>chocolate cookie crumbs, strawberries, light corn syrup, heavy cream</p>
  </li>
</ul>

<%- include('partials/footer'); -%>