<%- include('partials/header'); -%>

<header>
  <div>
    <img src="/cake.png" alt="">
  </div>
  <div class="headings">
    <h2>Cake</h2>
    <h2>Recipes</h2>
    <h3>Making Every Occasion Sweeter</h3>
    <a href="/cakes" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>